/*=========================
    Import and Variables
==========================*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

:root {
  --main-dark-bg: #1f2833;
  --nav-bg: #080c1d;
  --main-light-color: #ffffff;
  --secondary-gray-color: #c5c6c7;
  --main-dark-color: #38383a;
  --main-gold-details: #f5d626;
  --main-btn-bg: #359c97;
}

/*==================================
    Reset Browser Default Behavior 
===================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*==================================
            Main Style
===================================*/

body {
  width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(22, 184, 17);
}

.nav-bar ul {
  background-color: var(--nav-bg); /*080c1d*/
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 900;
  border-bottom: 1px solid var(--secondary-gray-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  color: var(--secondary-gray-color);
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.nav-bar ul li a:hover {
  color: #66fcf1;
}
.new-container {
  width: 100vw;
  min-height: 80vh;
  margin: auto;
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: var(--main-dark-bg);
}
.container {
  width: 100vw;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: var(--main-dark-bg);
  border: 1px solid blue;
}

.container-title-wrapper {
  width: 80%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  width: 25vw;
  height: auto;
}

.container h1,
.new-container h1 {
  font-family: "Russo One", sans-serif;
  color: var(--main-light-color);
  font-size: 6rem;
}

.new-container h1 span {
  font-family: "Russo One", sans-serif;
  font-size: 6rem;
  color: var(--main-gold-details);
}
.container p,
.new-container p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #dddedf;
  font-size: 1.4rem;
  text-align: left !important;
  letter-spacing: 3px;
}
.container p span,
.new-container p span {
  margin: 0rem 0.8rem;
}

/*==================================
        END - Main Area
==================================*/
/*
*/
/*//////////////////////////////////
//        New Page- Form
//////////////////////////////////*/

.new__btn-back {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
  width: 30%;
  padding: 14px 20px;
  margin: 8px 0;
  color: var(--secondary-gray-color);
  background: transparent;
  border: 1px solid var(--secondary-gray-color);
  border-radius: 4px;
}

.new__btn-back:hover {
  color: var(--main-gold-details);
  cursor: pointer;
}

form {
  width: 30vw;
  color: var(--main-light-color);
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1.5vh;
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--main-light-color);
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 2px solid var(--main-light-color);
}

input[type="text"]:focus {
  color: var(--main-light-color);
  background: transparent;
  outline-width: 0;
}

input[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  color: var(--secondary-gray-color);
  background: transparent;
  border: 1px solid var(--secondary-gray-color);
  border-radius: 4px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="submit"]:hover {
  color: var(--main-gold-details);
  cursor: pointer;
}
.table__btn-container {
  padding: 2rem;
  margin: 1rem 0;
}
.table__btn-add {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bolder;
  color: var(--main-light-color);
  background: var(--main-btn-bg);
  padding: 14px 20px;
  margin: 2rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table__btn-add:hover {
  color: #081c35;
  background: #74bdba;
}

.table__form-delete {
  width: 50%;
  margin: auto;
  padding: 0;
  text-align: center;
}
.table__btn-delete {
  text-decoration: none;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
}

.table__btn-delete i:hover {
  text-decoration: none;
  background: transparent;
  color: #f75a5a;
}

.table__btn-edit {
  width: 50%;
  margin: auto;
  text-decoration: none;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center !important;
  margin-left: 1.2rem;
}
.table__btn-edit i:hover {
  text-decoration: none;
  background: transparent;
  color: #98e3ff;
}

.table-container h3 {
  font-size: 4rem;
  color: var(--main-dark-color);
  letter-spacing: 3px;
}

/*//////////////////////////////////
//        END - New Page- Form
//////////////////////////////////*/
/*
*/
/*//////////////////////////////////
//        Section Area
//////////////////////////////////*/

#budge-info {
  width: 100vw;
  height: 50vh;
  min-height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

/*/////////////////////
//    Table Style
/////////////////////*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90vw;
  color: #66fcf1;
  background: #1f2833;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

table i {
  color: #45a29e;
  margin-right: 15px;
}

td,
th {
  border: 1px solid #45a29e;
  text-align: left;
  padding: 8px;
  font-size: 1.1rem;
  line-height: 40px;
}
th {
  font-size: 1.3rem;
}

td a {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
}
td a:hover {
  opacity: 0.8;
  color: var(--main-gold-details);
}

tr:nth-child(even) {
  background-color: #28313c;
  color: var(--secondary-gray-color);
}
tr:nth-child(odd) {
  background-color: #1f2833;
  color: #c1f3f0;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table-title {
  color: #66fcf1;
  text-transform: capitalize;
  letter-spacing: 4px;
}

/*//////////////////////////////////
//        END - Section Area
//////////////////////////////////*/
/*
*/

li span,
#bankAccount {
  padding: 40px;
  color: var(--main-light-color);
  font-size: 1.3rem;
}
.lowBalance {
  background-color: #f04a47;
  color: var(--main-light-color);
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
}
.positiveBalance {
  background-color: var(--main-btn-bg);
  color: var(--main-light-color);
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
}

/*//////////////////////////////////
//        Footer
//////////////////////////////////*/

svg {
  margin-bottom: -35px;
  z-index: 5;
}

footer {
  font-family: "Russo One", sans-serif;
  width: 100vw;
  height: 15vh;
  color: var(--secondary-gray-color);
  font-size: 1.5rem;
  text-align: center;
  margin-top: auto;
  background-color: var(--main-dark-bg);
  z-index: 6;
}

footer span {
  color: #66fcf1;
}
